.div1 {
  width: 500px;
  height: 380px;
  border: 1px dashed rgb(167, 169, 176);
  background-color: rgb(240, 230, 233);
  box-shadow: 2px 2px 10px gray;
}
.div1 p {
  height: 20px;
  text-align: center;
}
.div2 {
  margin: 20px;
  height: 280px;
  border: 1px solid rgb(167, 169, 176);
  background-color: rgb(39, 157, 33);
}
.div2 p {
  height: 20px;
  text-align: center;
}
.div3 {
  margin: 20px;
  height: 180px;
  border: 1px solid rgb(167, 169, 176);
  background-color: rgb(240, 230, 233);
}
.div3 p {
  height: 20px;
  text-align: center;
}
.div4 {
  margin: 20px;
  height: 80px;
  border: 1px solid rgb(167, 169, 176);
  background-color: rgb(255, 255, 255);
}
.div4 p {
  height: 20px;
  text-align: center;
}

/* box sizing 保持元素设置的宽高，从而不受padding margin等设置的影响
应用于全部元素
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/


.div-box-sizing1 {
  border: 2px solid red;
  width: 300px;
  height: 200px;
}
.div-box-sizing2 {
  border: 2px solid red;
  width: 300px;
  height: 200px;
  padding: 40px;
}
.div-box-sizing3 {
  border: 2px solid red;
  width: 300px;
  height: 200px;
  padding: 40px;
  box-sizing: border-box;
}
