
#table01 {
  	border: 1px solid #feafd6;

}

#table01_head {
	background-color:#74aeff;
}


#div02 {
	
}


#div02_1 {
	background-color: red;
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}


#bind_button {
	background-color: white;
}

#red_button {
	background-color: red;
}

#yellow_button {
	background-color: white;
}


#itemlist {
	margin-top: 30px;
}

#item {
	
}

#add {

}




